<script src="/static/scanImage.js" defer></script>

{% from "macros.html" import article_grid %}
{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<main>
  <div class="w-full bg-[url('static/banner.png')] h-[300px] bg-cover bg-center">
    <span class="w-full h-full text-white flex flex-col justify-center items-center bg-black bg-opacity-40">
      <div class="sticky flex items-center">
        <form action="/search">
          <input placeholder="Find a recipe" name="query" type="text" class="text-black rounded-3xl outline-none w-[60vw] text-4xl pl-8 px-16 h-24" />
        </form>
        <i class="fa-solid fa-magnifying-glass absolute text-black right-[2%] text-2xl"></i>
      </div>
      <div class="mt-4 justify-left flex gap-4 font-semibold">
        <a href="http://localhost:8080/search?query=apple+pie">Apple Pie</a>
        <a href="http://localhost:8080/search?query=new+york+pizza">New York Pizza</a>
        <a href="http://localhost:8080/search?query=veggie+salad">Veggie Salad</a>
      </div>
    </span>
  </div>

  <div class="w-full flex justify-center mb-48">
    <div class="mt-10 mb-20 grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 w-fit">
      {% for article in articles %}
      <a class="border w-72 h-80" href="#" onclick='submitImageForm("{{ article["image"] }}"); return false;'>
        <img src="{{ article['image'] }}" class="h-48 w-full object-cover" />
        <h1 class="mx-2 mt-2 font-bold text-xl">{{ article['name'] }}</h1>
      </a>
      {% endfor %}
    </div>
  </div>
  <div class="fixed bottom-0 py-10 border-t w-full flex flex-col items-center bg-white">
    <div class="gap-4 flex border-[#435238] text-[#435238]">
      <form id="uploadForm" enctype="multipart/form-data" onsubmit="return handleUploadFormSubmit(event)">
        <input type="file" name="image" accept="image/*" class="hidden" id="fileInput" onchange="submitImageForm(this.files[0])" />
        <label for="fileInput" class="border rounded-full w-24 h-20 text-4xl cursor-pointer block flex justify-center items-center" title="Upload a picture">
          <i class="fa-solid fa-upload"></i>
        </label>
      </form>
    </div>
  </div>
</main>
{% endblock %}
