{% extends 'base.html' %} {% block title %}Home{% endblock %} {% block content
%}
<div class="flex justify-center">
  <div
    class="w-full bg-[url('static/banner.png')] h-[300px] bg-cover bg-center"
  >
    <span
      class="w-full h-full text-white flex justify-center items-center bg-black bg-opacity-40"
    >
      <div class="fixed flex items-center">
        <form action="/search">
          <input
          name="query"
            type="text"
            class="text-black rounded-3xl outline-none w-[60vw] text-4xl pl-8 px-16 h-24"
          />
        </form>
        <i
          class="fa-solid fa-magnifying-glass absolute text-black right-[2%] text-2xl"
        ></i>
      </div>
    </span>
  </div>

  <div class="flex"></div>

  <div class="fixed bottom-0 py-10 border-t w-full flex flex-col items-center">
    <div class="gap-4 flex border-[#435238]">
      <button
        class="border rounded-full w-24 h-20 text-4xl"
        title="Upload a picture"
      >
        <i class="fa-solid fa-upload"></i>
      </button>
      <button
        class="border rounded-full w-24 h-20 text-4xl"
        title="Upload a picture"
      >
        <i class="fa-solid fa-camera"></i>
      </button>
    </div>
  </div>
</div>
{% endblock %}
